.App {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 7.5vw;
  height: 60px;
  align-items: center;
}

.nav-items{
  display: flex;
  align-items: center;
}